body {
    background-color: #f2ece4;
}

main {
    padding-top: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.header__inner {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header__logo {
    font-size: 24px;
    font-weight: bold;
    color: #88786e;
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.header-utilities {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.header-nav {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-left: auto !important;
    gap: 20px;
}

.header-nav__button {
    text-decoration: none;
    color: #d9c6b5;
    font-size: 16px;
    padding: 8px 16px;
    border: 1px solid #d9c6b5;
    background-color: transparent
}

.header-nav__button:hover {
    background-color: #88786e;
    color: #ffffff;
}

.header-nav__item form {
    display: inline;
}

.header-nav__item button {
    background: transparent;
    border: 1px solid #d9c6b5;
    color: #f6f6f6;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.header-nav__item button:hover {
    background-color: #88786e;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .header__inner {
        flex-direction: column;
    }

    .header__logo {
        position: static;
        transform: none;
        text-align: center;
        margin-bottom: 10px;
    }

    .header-nav {
        margin-left: 0;
    }
}