.text {
position: relative;

}

.background-text {
font-size: 280px;
font-weight: 400;
color: rgba(28, 14, 48, 0.5);
z-index: 0;
}

.main-text {
font-size: 30px;
font-weight: 700px;
color:#8B7969;
margin-top: 461px;
margin-left: 501px;
z-index: 10;
}

.home__button {
display: flex;
height: 46px;
width: 140px;
padding: 10px 40px; /*上下、左右*/
background-color:#8B7969;
margin-top: 555px;
margin-left: 686px;
z-index: 10;
}

.home__button-submit {
font-size: 20px;
font-weight: 400;
color: #fff;
}